parameters:
    level: 'max'
    paths: [ 'src', 'tests' ]
    checkFunctionNameCase: true
    reportUnmatchedIgnoredErrors: true
    treatPhpDocTypesAsCertain: false
    parallel:
        maximumNumberOfProcesses: 4
    ignoreErrors:
        -
            # This project purposefully uses variable constructors and "new static()".
            identifier: new.static
        -
            # I have spent far too long trying to get PHPStan to play nicely with multiple versions of PHPUnit. Tried
            # ignoring errors, tried min/max PHP versions in Neon config. Just ignore the whole damn file and be done
            # with it.
            message: '#.*#'
            path: 'tests/TestCase.php'
            reportUnmatched: false

includes:
    - 'vendor/phpstan/phpstan-deprecation-rules/rules.neon'
    - 'vendor/phpstan/phpstan/conf/bleedingEdge.neon'
